html {
        height: 100%;
        overflow-y: hidden;
}
body {
        height: 100%;
        overflow-y: hidden;
}

button {
	cursor: pointer;
}

.page1 {
        overflow-y: hidden;
}

.draggable-box {
        position: absolute;
        border: 1.5px solid black;
        border-radius: 7px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        overflow-y: hidden;
        min-width: 550px;
    }
.title-bar {
	text-decoration: none;
        max-height: 35px;
        font-weight: bold;
        background-color: #838383;
        color: #ebe8e8;
        padding: 5px;
        cursor: move;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }

     /* Top bar dropdown css */
.dropdowndiv {
	margin-left: -60%;
	justify-content: left;
}
.dropbtn {
	cursor: pointer;
	font-weight: normal;
        background-color: rgba(0,0,0,0);
        color: #ebe8e8;
        padding: 4px 12px;
        border: none;
}

.dropdown {
    	float: left;
    	position: relative;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    	background-color: #AAAAAAAA;
}

.dropdown-content {
  	cursor: pointer;
  	display: none;
  	position: absolute;
  	min-width: 160px;
  	background-color: #838383;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content2 {
  	cursor: pointer;
  	display: none;
  	position: absolute;
  	left: 160px;
  	top: 0px;
	min-height: 28px;
  	background-color: #838383;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content2 button {
	width: 100px;
}

.dropdown-content .dItem {
	color: white;
	font-weight: normal;
        background-color: #838383;
    	padding: 5px 8px;
    	display: block;
    	text-align: left;
}

.dropdown:hover .dropdown-content, #link1:hover > .dropdown-content2 {
  	display: block;
}
.dropdown-content .dItem:hover, .dropdown-content2 a:hover {
    	background-color: #AAAAAAAA;
}
/* End of dropdown css */

.close-button {
        float: right;
        cursor: pointer;
        color: #CC0000;
        font-weight: bold;
        user-select: none;
    }
.resize-handle {
        width: 10px;
        height: 10px;
        background-color: grey;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: nwse-resize;
}
.rmotd {
        min-height: 160px;
    }

.spacer {
	padding: 2px;
	background-color: #838383;
}

.content {
        border: 1px solid black;
        margin:0 auto;
        height: 100%;
        background-color: #ebe8e8;
        padding: 5px;
    }

.taskbar {
        position: block;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: #B0B0B0;
        min-height: 6.5vh;
        }

.open-window-button {
	cursor: pointer;
	width: auto;
        text-align:center;
        border: 0px;
        background-color: rgba(255,255,255,0);
        }

.open-window-button:hover {
        font-weight: 550;
}

.open-window-button2 {
	cursor: pointer;
        text-align:center;
        border:solid 1.5px black;
        background-color: #ebe8e8;
        border-top:none;
        border-left:none;
        border-right:none;
        }

.open-window-button2:hover {
        font-weight: 550;
}
