.image-text-container {
        display: flex;
        align-items: center;
        margin-bottom: -15px;
        margin-top: -20px;
}

.logo-container {
        margin-right: 10px; /* Add some space between the image and text */
}

.logo-container h1 {
        padding: 20px;
        display: block;
        border: 2px solid #6C6C6C; /* Add a border around the image */
        border-radius: 5px; /* Add rounded corners to the border */
        background-color: #717171;
	color: white;
}

.text-container {
        border: 2px solid #6C6C6C; /* Add a border around the text */
        border-radius: 5px; /* Add rounded corners to the border */
        padding: 20px; /* Add padding inside the text border */
        background-color: #717171;
	color: white;
        flex-grow: 1;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	border-radius: 5px;
  	border: 2px solid #2E2E2E;
  	background-color: #707070;
}

li {
  	float: left;
}

li a {
  	font-weight: bold;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover {
  	background-color: #B4B4B4;
}

body {
	background-color: #222222;
	font-family: Arial, sans-serif;
}

.random {
        max-height: 1px;
	}
.announcments {

	}

.content {
        border: 2px solid #999;
        background-color: #818181;
	color: white;
        border-radius: 5px;
        border-top: none;
        border-bottom: none;
        padding: 20px;
        min-height: 70vh;
        position: relative;
}

footer {
    	position: block;
    	border: 2px solid #333;
    	border-radius: 5px;
    	background-color: #717171;
    	color: white;
    	text-align: center;
    	min-height: 7.6vh;
}

footer a {
	color: white;
        font-weight: bold;
        float: left;
        padding: 25px 0;
        text-decoration: none;
}

footer li {
        padding: 0 5px;
        text-decoration: none;
        list-style-type: none;
}

footer li a:hover {
	background-color: #9C9C9C;
}

@media screen and (min-width: 1024px) {
	.content {
        	min-height: 85vh;
	}
}
@media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
	.content {
        	min-height: 82vh;
	}
}
@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
 	.content {
        	min-height: 89vh;
	}
	.announcments {
		display: none;
	}
	footer {
		font-size: 13px;
	}
}
